* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 16px;
}

header {
  background: #000;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  transition: 0.3s;
  height: 6.25rem;
  box-shadow: 0 0 5px #fff;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
header .header-content .header-logo-area {
  display: flex;
  height: 100%;
  align-items: center;
}
header .header-content .header-logo-area span.header-logo img {
  width: 6.125rem;
  height: 100%;
}
header .header-content .header-logo-area span {
  font-size: 1.25rem;
  color: #fff;
}
header .header-content nav {
  height: inherit;
}
header .header-content nav ul {
  height: inherit;
  align-items: center;
  display: flex;
  gap: 1.25rem;
}
header .header-content nav ul li a {
  display: block;
  border: transparent solid 1px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
header .header-content nav ul li a:hover {
  border-bottom: #fff solid 1px;
}
header .header-content nav ul li a.active {
  background: #ed0723;
  border: #fff solid 3px;
}

header.active {
  background: rgba(0, 0, 0, 0.8);
}

#content {
  color: #fff;
  background: #000;
  padding-top: 100px;
}
#content article .order h2 {
  padding-top: 1.25rem;
  padding-bottom: 10px;
}
#content article .order h3 {
  padding: 10px 0;
}
#content article .order h3 span {
  color: #ed0723;
}
#content article .order ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#content article .order ul li {
  list-style: decimal;
}
#content article .promotion h2 {
  padding-top: 1.25rem;
  padding-bottom: 10px;
}
#content article .promotion h3 {
  padding: 10px 0;
}
#content article .promotion h3 span {
  color: #ed0723;
}
#content article .promotion ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#content article .promotion ul li {
  list-style: decimal;
}
#content article .return {
  padding-bottom: 1.25rem;
}
#content article .return h2 {
  padding-top: 1.25rem;
  padding-bottom: 10px;
}
#content article .return ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#content article .return ul li {
  list-style: decimal;
}

#contact {
  background: #000;
}
#contact .contact-content {
  gap: 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact .contact-content h2 {
  display: block;
  flex: 1 0 100%;
  text-align: center;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  color: #fff;
}
#contact .contact-content .contact-logo {
  width: 12.5rem;
}
#contact .contact-content .contact-logo img {
  width: 100%;
  height: 100%;
}
#contact .contact-content .contact-list-icon {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
#contact .contact-content .contact-list-icon li {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  color: #fff;
}
#contact .contact-content .contact-list-icon li a {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 100%;
  border: #fff solid 1px;
  text-align: center;
  line-height: 3.125rem;
  transition: 0.3s;
}
#contact .contact-content .contact-list-icon li a:hover {
  color: #4267B2;
}
#contact .contact-content .contact-list-meet-up {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
#contact .contact-content .contact-list-meet-up li {
  text-align: center;
  line-height: 100%;
  width: auto;
  font-size: 1.25rem;
  color: #fff;
  padding: 10px 15px;
  background: #fff;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}
#contact .contact-content .contact-list-meet-up li:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
